button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.Firstsection {
    position: relative;
    width: 100%;
    height: 1100px;
    display: flex;
    padding: 0 30px;
    background: linear-gradient(181.12deg, #2E2F62 1.92%, #13143D 98.08%);
}

.logo {
    display: none;
}

.middle {
    display: none;
}

.red-card {
    position: absolute;
    top: 65%;
    right: 0;
    display: flex;
    align-items: center;
    padding: 2%;
    gap: 10%;
    width: 450px;
    height: 130px;
    background: rgba(254, 77, 77, 1);
    border-radius: 20px;
    z-index: 1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.red-card span {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #fff;
}

.bottom-card {
    position: relative;
    position: absolute;
    bottom: -400px;
    width: 50%;
    left: 25%;
    height: 600px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-card h2 {
    position: absolute;
    left: 40px;
    top: 40px;
    font-family: SF Pro Display;
    font-size: 24px;
    font-weight: 700;
    color: rgba(41, 42, 92, 1);
}

.bottom-card h2 span {
    font-family: SF Pro Display;
    font-size: 24px;
    font-weight: 900;
    color: #fbbe09;
}

.bottom-card h1 {
    font-family: SF Pro Display;
    font-size: 32px;
    font-weight: 700;
    line-height: 56.38px;
    text-align: center;
    color: rgba(41, 42, 92, 1);
}

.bottom-card p {
    font-family: SF Pro Display;
    font-size: 24px;
    font-weight: 500;
    line-height: 44.33px;
    text-align: center;
    color: rgba(41, 42, 92, 1);
}

.btns {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin-top: 3%;
}

.btns input {
    width: 34%;
    height: 70px;
    border-radius: 15px;
    background: rgba(40, 41, 91, 0.1);
    border: 1px solid rgba(40, 41, 91, 0.5);
    padding-left: 30px;


    font-family: SF Pro Display;
    font-size: 22px;
}

.btns button {
    width: 72%;
    height: 70px;
    border-radius: 15px;
    border: none;
    background: rgba(247, 164, 0, 1);
    margin-top: 3%;



    font-family: SF Pro Display;
    font-size: 22px;
    color: rgba(51, 51, 51, 1);
}

.btns span {
    font-family: SF Pro Display;
    font-size: 18px;
    font-weight: 400;
    line-height: 33.25px;
    text-align: center;
    color: rgba(51, 51, 51, 1);
    margin-top: 2%;
}


.left-card {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 6% 4%;
    gap: 3%;
    z-index: 3;
}

.left-card h1 {
    font-family: SF Pro Display;
    font-size: 50px;
    font-weight: 900;
    text-align: left;
    color: #fff;
}

.left-card span {
    font-family: SF Pro Display;
    font-size: 36px;
    font-weight: 500;
    line-height: 41.11px;
    text-align: left;
    color: #fff;
}

.left-card ul li {
    font-family: SF Pro Display;
    font-size: 18px;
    line-height: 31.72px;
    text-align: left;
    color: #fff;
}

.left-card p {
    font-family: Ubuntu;
    font-size: 18.4px;
    font-weight: 400;
    text-align: left;
    color: #fff;
}

.left-card p a {
    font-family: Ubuntu;
    font-size: 18.4px;
    font-weight: 400;
    text-align: left;
    color: red;
    text-decoration: none;
}

.right-card {
    width: 50%;
    height: 100%;
}

.right-card img {
    position: absolute;
    right: 0;
    z-index: 1;
}

.modal-card {
    width: 110%;
    height: 100vh;
    backdrop-filter: blur(30px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
}

.modal-cart {
    width: 40%;
    height: 45%;
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4%;
    margin: 15% 35%;
}

.modal-cart h1 {
    font-family: Ubuntu;
    font-size: 32px;
    text-align: center;
    color: rgba(254, 77, 77, 1);
}

.modal-cart h2 {
    font-family: Ubuntu;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.modal-cart input {
    width: 80%;
    height: 22%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(244, 244, 244, 1);
    outline: none;

    font-family: Ubuntu;
    font-size: 24px;
    padding-left: 50px;
}

.modal-cart button {
    width: 80%;
    height: 22%;
    background: rgba(254, 77, 77, 1);
    border: none;


    font-family: Ubuntu;
    font-size: 32px;
    text-align: center;
    color: #fff;
}

.modalst-cart {
    display: none;
}

.modalnd-cart{
    display: none;
}





@media (max-width:390px) {

    button {
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    .Firstsection {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 5%;
        background: linear-gradient(181.12deg, #2E2F62 1.92%, #13143D 98.08%);
    }

    .logo {
        display: block;
        width: 100%;
    }

    .middle {
        width: 120%;
        height: 80px;
        background: rgba(52, 52, 52, 0.7);
        margin-top: 8%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .middle button {
        width: 30%;
        height: 100%;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .red-card {
        display: none;
    }


    .bottom-card {
        position: relative;
        position: absolute;
        bottom: -1100px;
        left: 5%;
        width: 90%;
        height: 600px;
        background-color: #fff;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bottom-card h2 {
        font-family: SF Pro Display;
        font-size: 18px;
        font-weight: 700;
        line-height: 31.72px;
        text-align: center;
        color: rgba(41, 42, 92, 1);
    }

    .bottom-card h2 span {
        font-family: SF Pro Display;
        font-size: 18px;
        font-weight: 700;
        line-height: 31.72px;
        text-align: center;
        color: #fbbe09;
    }

    .bottom-card h1 {
        font-family: SF Pro Display;
        font-size: 20px;
        font-weight: 700;
        line-height: 29.34px;
        text-align: center;
        color: rgba(41, 42, 92, 1);
    }

    .bottom-card p {
        font-family: SF Pro Display;
        font-size: 18px;
        font-weight: 500;
        line-height: 33.25px;
        text-align: center;
        color: rgba(41, 42, 92, 1);
    }

    .btns {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
    }

    .btns input {
        width: 90%;
        height: 70px;
        border-radius: 15px;
        background: rgba(40, 41, 91, 0.1);
        border: 1px solid rgba(40, 41, 91, 0.5);
        padding-left: 30px;
        margin-bottom: 5%;


        font-family: SF Pro Display;
        font-size: 22px;
    }

    .btns button {
        width: 90%;
        height: 70px;
        border-radius: 15px;
        border: none;
        background: rgba(247, 164, 0, 1);
        margin-top: 3%;



        font-family: SF Pro Display;
        font-size: 22px;
        color: rgba(51, 51, 51, 1);
    }

    .btns span {
        font-family: SF Pro Display;
        font-size: 18px;
        font-weight: 400;
        line-height: 33.25px;
        text-align: center;
        color: rgba(51, 51, 51, 1);
        margin-top: 2%;
    }


    .left-card {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 6% 4%;
        gap: 5% !important;
        /* z-index: 3; */
    }

    .left-card h1 {
        font-family: SF Pro Display;
        font-size: 36px;
        font-weight: 700;
        line-height: 46.15px;
        text-align: left;
        color: #fff;
        margin-bottom: 10%;
    }

    .left-card span {
        font-family: SF Pro Display;
        font-size: 26px;
        font-weight: 500;
        line-height: 29.69px;
        text-align: left;
        color: #fff;
        margin-bottom: 10%;
    }

    .left-card ul li {
        font-family: SF Pro Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 28.19px;
        text-align: left;
        color: #fff;
    }

    .left-card p {
        font-family: Ubuntu;
        font-size: 18.4px;
        font-weight: 400;
        text-align: left;
        color: #fff;
        display: none;
    }

    .left-card p a {
        font-family: Ubuntu;
        font-size: 18.4px;
        font-weight: 400;
        text-align: left;
        color: red;
        text-decoration: none;
    }

    .right-card {
        width: 100%;
        height: auto;
    }

    .right-card img {
        position: absolute;
        right: 0;
        z-index: 1;
        width: 170%;
    }

    .modal-card {
        display: none;
    }

    .modal-cart {
        display: none;
    }



    .modalnd-card {
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 101vh;
        margin-top: -100px;
        backdrop-filter: blur(20px);
    }


    .modalnd-cart {
        width: 80%;
        height: 30%;
        background: #fff;
        margin: 64% 10%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

    .modalnd-cart input {
        width: 85%;
        height: 20%;
        outline: none;
        padding-left: 30px;
        background: rgba(244, 244, 244, 1);
        border: 1px solid rgba(0, 0, 0, 0.2)
    }

    .modalnd-cart button {
        width: 85%;
        height: 20%;
        border: none;
        background: none;
        background: rgba(254, 77, 77, 1);

        font-family: Ubuntu;
        font-size: 18px;
        text-align: center;
        color: #fff;
    }

    .modalnd-cart h1 {
        font-family: Ubuntu;
        font-size: 18px;
        text-align: center;
    }

    .modalnd-cart h1 span {
        font-family: Ubuntu;
        font-size: 18px;
        text-align: center;
        color: red;
    }


    .modalst-card {
        width: 100%;
        height: 101vh;
        backdrop-filter: blur(20px);
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .modalst-cart {
        width: 80%;
        height: 30%;
        background: #fff;
        margin: 64% 10%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }


    .modalst-cart input {
        width: 85%;
        height: 20%;
        outline: none;
        padding-left: 30px;
        background: rgba(244, 244, 244, 1);
        border: 1px solid rgba(0, 0, 0, 0.2)
    }

    .modalst-cart button {
        width: 85%;
        height: 20%;
        border: none;
        background: none;
        background: rgba(254, 77, 77, 1);

        font-family: Ubuntu;
        font-size: 18px;
        text-align: center;
        color: #fff;
    }

    .modalst-cart h2 {
        width: 64%;
        font-family: Ubuntu;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    .modalst-cart h1 span {
        font-family: Ubuntu;
        font-size: 18px;
        text-align: center;
        color: red;
    }
}